#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.ta {
  display: "block";
  width: "500px";
}
.btn {
  display: "block";
  width: "500px";
  background-color: blue;
}
